<div id="strength">

    <!-- label -->
    <small>
        {{ 'Validation.PasswordStrength' | translate }}:
        <ng-container *ngIf="textLabel">
            <span class="sr-only">
                {{ 'PasswordStrength.'+ textLabel | translate }}
            </span>
        </ng-container>
    </small>

    <!-- strength indicator -->
    <ul class="password-strength">
        <li class="password-strength__bar" [ngClass]="bar0">
        </li><li class="password-strength__bar" [ngClass]="bar1">
        </li><li class="password-strength__bar" [ngClass]="bar2">
        </li><li class="password-strength__bar" [ngClass]="bar3">
        </li><li class="password-strength__bar" [ngClass]="bar4">
        </li>
    </ul>
</div>
