
<div class="container vertical-spacing">


    <!-- SUCCESSFULLY changed -->
    <ng-container *ngIf="passwordChanged">

        <!-- success message -->
        <p class="alert alert-success" role="alert" aria-live="polite">
            <strong>
                {{ 'User.Congratulations' | translate }}!
            </strong>
            {{ 'User.PasswordChanged' | translate }}
        </p>

        <!-- my account redirection -->
        <a [routerLink]="['/user','myaccount']" class="btn btn-primary">
            {{ 'User.MyAccount' | translate }}
        </a>
    </ng-container>


    <!-- CHANGE PASSWORD -->
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3" *ngIf="!passwordChanged">
            <form class="auth-form" (ngSubmit)="onSubmit()"
                [formGroup]="changePasswordForm"
                autocomplete="off">

                <h1 class="heading heading--md heading--separator">
                    {{ 'User.PasswordChange' | translate }}
                </h1>

                <!-- api notifications  -->
                <app-notifications aria-live="polite"></app-notifications>


                <!-- CURRENT PASSWORD -->
                <div class="form-group"
                    [ngClass]="{'form-group-invalid': isFieldValid('old_password')}">

                    <label for="old_password">
                        {{ 'User.CurrentPassword' | translate }}
                    </label>

                    <!-- Current Password field  -->
                    <div style="position: relative">
                        <input type="password" class="form-control" id="old_password"
                            placeholder="{{ 'Enter' | translate }} {{ 'User.CurrentPassword' | translate | lowercase }}"
                            [attr.aria-describedby]="'old_password'"
                            [attr.aria-invalid]="isFieldValid('old_password')"
                            formControlName="old_password">
                    </div>

                    <!-- Current Password validation error -->
                    <small class="form-text text-danger" id="old_password"
                        *ngIf="isFieldValid('old_password')"
                        @toggleVertically>
                        "{{ 'User.CurrentPassword' | translate }}"
                        {{ 'Validation.IsRequired' | translate }}
                    </small>
                </div>


                <!-- PASSWORD -->
                <div class="form-group"
                    [ngClass]="{'form-group-invalid': isFieldValid('new_password1')}">

                    <label for="new_password1">
                        {{ 'User.NewPassword' | translate }}
                    </label>


                    <!-- Password with hint (tooltip) -->
                    <div style="position: relative">
                        <input type="password" class="form-control" id="new_password1"
                            placeholder="{{ 'Enter' | translate }} {{ 'User.NewPassword' | translate | lowercase }}"
                            [attr.aria-describedby]="'password_policy password1_error'"
                            [attr.aria-invalid]="isFieldValid('new_password1')"
                            formControlName="new_password1"
                            (focus)="showPasswordHint = true"
                            (blur)="showPasswordHint = false"
                            (mouseenter)="showPasswordHint = true"
                            (mouseleave)="showPasswordHint = false">

                            <!-- Password policy description -->
                            <span class="hint" role="tooltip" id="password_policy" aria-live="polite"
                                *ngIf="showPasswordHint">
                                <small>
                                    {{ 'Validation.VarPasswordPolicy' | translate:{param: passwordMinLength} }}
                                </small>
                            </span>
                    </div>

                    <!-- Password validation error -->
                    <small class="form-text text-danger" id="password1_error"
                        *ngIf="isFieldValid('new_password1')"
                        @toggleVertically>
                        "{{ 'User.Password' | translate }}"
                        {{ 'Validation.IsRequired' | translate }}
                    </small>

                    <!-- password strength indicator -->
                    <app-password-strength
                        [passwordToCheck]="changePasswordForm.value.new_password1">
                    </app-password-strength>
                </div>


                <!-- PASSWORD CONFIRMATION -->
                <div class="form-group"
                        [ngClass]="{'form-group-invalid': isFieldValid('new_password2') || changePasswordForm.hasError('notEqualValues')}">

                    <label for="new_password2">
                        {{ 'User.RetypePassword' | translate }}
                    </label>

                    <!-- Password confirmation -->
                    <input type="password" class="form-control" id="new_password2"
                        placeholder="{{ 'User.RetypePassword' | translate }}"
                        formControlName="new_password2"
                        autocomplete="off"
                        role="presentation"
                        [attr.aria-describedby]="'password2_error password2_other_error'"
                        [attr.aria-invalid]="isFieldValid('new_password2') || changePasswordForm.hasError('notEqualValues')">

                    <!-- Password confirmation validation error -->
                    <small class="form-text text-danger" id="password2_error"
                        *ngIf="isFieldValid('new_password2') || changePasswordForm.hasError('notEqualValues')"
                        @toggleVertically>
                        {{ 'Validation.RequiredPasswordConfirmation' | translate }}
                    </small>
                </div>


                <!-- SUBMIT FORM -->
                <div class="form-check clearfix">

                    <!-- fake button to indicate 'disabled' state -->
                    <button type="button" class="btn btn-secondary disabled"
                        *ngIf="!changePasswordForm.valid"
                        aria-describedby="backend_notifications password1_error password2_error"
                        [attr.aria-disabled]="true">
                        {{ 'User.ChangePassword' | translate | uppercase }}
                    </button>

                    <!-- submit -->
                    <button type="submit" class="btn btn-primary"
                        *ngIf="changePasswordForm.valid">
                        {{ 'User.ChangePassword' | translate | uppercase }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

