<!-- topmost focusable element (hidden for user) -->
<div id="top" tabindex="-1" class="sr-only">
    {{ 'PageTop' | translate }}
</div>


<!-- progress bar (entire app) - visible during data request -->
<ng-progress [color]="'blue'"></ng-progress>


<!-- application header for the entire app (except embedded view) -->
<app-header></app-header>


<!-- main content - different styling for the homepage -->
<main role="main" id="main-content" tabindex="-1" [ngClass]="{'page': !isHomepage}">
    <router-outlet></router-outlet>
</main>


<!-- application footer for the entire app (except embedded view) -->
<app-footer></app-footer>
