.resource-view {

    .filters-wrapper {
        margin:30px 0;

        .filters {
            list-style: none;
            padding: 0;
            margin-bottom: 0;

            .filter {
                margin-bottom: 5px;

                &__value {
                    border-right: 0;
                    border-left: 0;
                }
            }
        }
    }


    .resource-table {
        width: 100%;

        &-wrapper {
            overflow-x: auto;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        // thead th
        &__heading {
            padding: 15px;
            font-weight: normal;
            background-color: $color-blue-dark;
            font-size: 0.875rem;

            &:not(:first-child) {
                border-left : 1px solid $color-grey-light-5;
            }
        }

        &__sort-column {
            color: $color-white;
            white-space: nowrap;

            &::before {
                content: "\2191\2193";
                color: $color-grey-light-7;
            }

            &.ascending::before {
                content: "\2191";
                color: $color-white;
            }

            &.descending::before {
                content: "\2193";
                color: $color-white;
            }
        }

        // tr
        &__row {

            &:nth-child(odd) {
                background-color: $color-white;
            }

            &:nth-child(even) {
                background-color: $color-grey-light-1;
            }

            &.hovered {
                background-color: $color-hover;
            }
        }


        // td
        &__cell {
            padding: 10px;
            border-top: 1px solid $color-grey-light-1;
            font-size: 0.875rem;

            &:not(:first-child) {
                border-left : 1px solid $color-grey-light-5;
            }
        }
    }
}
