// bootstratp override
.pager {
    .pagination {
        .page-item {
            .page-link {
                border: 0;
                padding: 2px 8px;
                line-height: 1.5rem;
                background-color: transparent;

                &--as-icon {
                    font-size: 200%;
                    padding: 0px 10px 2px 10px;
                }
            }

            &.active {
                .page-link {
                    font-weight: bold;
                    background-color: $color-blue-light;
                }
            }
        }
    }
}
