<!-- SEARCH and FILTERS -->
<div class="search" id="search">
    <div class="container">
        <form (ngSubmit)="updateParams({q: f.value.searchInput, sort: 'relevance'})" #f="ngForm">
            <div class="row">
                <div class="col">

                    <!-- search field -->
                    <input type="text" class="form-control form-control-lg search__input"
                        placeholder="{{ 'Articles.SearchFor' | translate }}..."
                        [attr.aria-label]="'Articles.SearchFor' | translate"
                        [ngModel]="params.q" name="searchInput" aria-describedby="searching-description">

                    <!-- search status (SR only) -->
                    <p class="sr-only" id="searching-description" role="status" aria-live="polite" aria-atomic="true">
                        <ng-container *ngIf="params.q != ''">
                            Wyszukiwanie {{ params.q }}
                        </ng-container>
                    </p>

                    <!-- clear search field -->
                    <button type="button" class="btn search__clear"
                        (click)="updateParams({q: '', sort: ''})"
                        *ngIf="params.q.length">
                        <span class="sr-only">
                            {{ 'Search.ClearInput' | translate }}
                        </span>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- perform search -->
                <div class="col-sm-auto">
                    <button class="btn btn-primary btn-lg search__button" type="submit">
                        {{ 'Action.Search' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- RESULTS -->
<section class="results-section vertical-spacing">
    <div class="container">


        <!-- RESULTS HEADER -->
        <header class="results-header">
            <div class="d-md-flex justify-content-between align-items-center">

                <h1 class="heading heading--separator">
                    {{ 'Articles.News' | translate }}
                    <small>({{ count || 0 }})</small>
                </h1>

                <!-- sort order -->
                <div class="sort-order d-md-inline-flex align-items-center" *ngIf="items && items.length">
                    <span class="dropdown-label" id="sortby-label">
                        {{ 'Sort.By' | translate }}:
                    </span>
                    <app-singleselect
                        [options]="[
                            {label:'Sort.Default' | translate, value: 'relevance'},
                            {label:'Attribute.NameAsc' | translate, value: 'title'},
                            {label:'Attribute.NameDesc' | translate, value: '-title'},
                            {label:'Attribute.ModificationDate' | translate, value: '-modified'},
                            {label:'Attribute.CreationDate' | translate, value: '-created'}
                        ]"
                        [selected]="params?.sort"
                        (selectedChange)="updateParams({sort: $event.value})"
                        labelId="sortby-label">
                    </app-singleselect>
                </div>
            </div>

            <!-- current page api -->
            <div class="results-header__actions" *ngIf="items && items.length">
                <a href="{{ selfApi }}" target="_blank" class="btn btn-primary"
                    [tooltip]="'Action.SeeResultsViaApi' | translate"
                    placement="auto">
                    
                    <span aria-hidden="true">
                        API
                    </span>
                    <span class="sr-only">
                        {{ 'Action.SeeResultsViaApi' | translate }}
                    </span>
                    <svg class="icon icon-chevrons-right" role="img" aria-hidden="true">
                        <use xlink:href="/assets/icomoon/sprite/sprite.svg#icon-chevrons-right"></use>
                    </svg>
                </a>
            </div>
        </header>

        <!-- api notifications -->
        <app-notifications></app-notifications>

        <!-- no results for the search query -->
        <p class="alert alert-warning" role="alert" aria-live="polite" aria-atomic="true"
            *ngIf="items && !items.length && params.q">
            <strong>
                {{ 'Found.NothingFor' | translate }} "{{ params.q }}"
            </strong>
        </p>
        

        <!-- RESULT LIST -->
        <div class="result-list" *ngIf="items && items.length">


            <!-- RESULT ITEM -->
            <div class="result-item"
                 *ngFor="let item of items; trackBy: trackById; let itemIndex = index;">
                <h2 class="heading heading--sm">
                    <a [routerLink]="[item.id]">
                        {{ item.attributes.title }}
                    </a>
                </h2>

                <!-- description -->
                <p class="result-item__description" *ngIf="item.attributes.notes"
                    [innerHTML]="item.attributes.notes | stripHtml | truncateText:300 | sanitizeHtml">
                </p>

                <!-- observe  -->
                <p class="result-item__actions">
                    <app-observe-button [item]="item" [resource]="'article'"></app-observe-button>
                </p>

                <!-- modified, created -->
                <div class="row result-item__attributes">
                    <div class="col-12 col-md-3" *ngIf="item.attributes.modified">
                        {{ 'Attribute.ModificationDate' | translate }}:
                        <span class="d-md-block">
                            {{ item.attributes.modified | translateDateFormat | async }}
                        </span>
                    </div>
                    <div class="col-12 col-md-3" *ngIf="item.attributes.created">
                        {{ 'Attribute.CreationDate' | translate }}:
                        <span class="d-md-block">
                            {{ item.attributes.created | translateDateFormat | async }}
                        </span>
                    </div>
                </div>

                <!-- tags -->
                <div class="tags" *ngIf="item.attributes.tags && item.attributes.tags.length > 0">
                    <span class="tags__label" id="tags-label-{{ itemIndex }}">
                        {{ 'Attribute.Tags' | translate }}:
                    </span>
                    <ul class="tags__list" attr.aria-labelledby="tags-label-{{ itemIndex }}">
                        <li class="tags__item"
                            *ngFor="let tag of item.attributes.tags;">

                            <!-- tag to select -->
                            <button type="button" class="btn btn-outline-primary btn-sm btn--multiline"
                                (click)="updateParams({tags: tag})"
                                *ngIf="tag !== params?.tags">
                                <span>
                                    {{ tag }}
                                </span>
                            </button>

                            <!-- selected -->
                            <button type="button" class="btn btn-secondary btn-sm btn--multiline btn--remove"
                                (click)="updateParams({tags: null})"
                                *ngIf="tag === params?.tags">
                                <span class="sr-only">
                                    {{ 'Filters.Remove' | translate }}
                                </span>
                                <span>
                                    {{ tag }}
                                </span>
                            </button>                             
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- RESULTS FOOTER -->
        <footer class="results-footer" *ngIf="items && items.length">
            <div class="row no-gutters justify-content-between">

                <!-- results per page -->
                <div class="col-12 col-md-6 order-12 order-md-1">
                    <div class="results-per-page d-inline-flex align-items-baseline">
                        <span class="dropdown-label" id="items-per-page-label">
                            {{ 'Pagination.ItemsPerPage' | translate }}:
                        </span>
                        <app-singleselect
                            [options]="[5,10,20,50]"
                            [selected]="params.per_page"
                            (selectedChange)="updateParams({per_page: $event})"
                            placeholder="10"
                            labelId="items-per-page-label">
                        </app-singleselect>
                    </div>
                </div>

                <!-- pagination -->
                <div class="col-12 col-md-6 order-1 order-md-12 text-md-right">
                    <div class="pager d-inline-flex align-items-baseline">
                        <app-pagination
                            [itemsPerPage]="params.per_page"
                            [totalItems]="count"
                            [(page)]="params.page"
                            (numPages)="numPages = $event"
                            (pageChange)="updateParams({page: $event})">
                        </app-pagination>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</section>


