
// GRID BREAKPOINTS
// $grid-xs: 0;
// $grid-sm: 640px;
// $grid-md: 1024px;
// $grid-lg: 1280px;
// $grid-xl: 1440px;


// COLORS
$color-white: #fff;
$color-black: #000;

$color-yellow: #ff0;
$color-red: #d40043;

$color-blue-light: #0971dd;
$color-blue-dark: #0f2648;

$color-grey-dark: #5e5e5e;

$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #e4e4e4;
$color-grey-light-3: #bababa;
$color-grey-light-4: #bfbfbf;
$color-grey-light-5: #d8d8d8;
$color-grey-light-6: #eee;
$color-grey-light-7: #9b9b9b;

$color-heading: #333;
$color-text: #555;
$color-hover: #def;


// font size
$heading-lg-size: 2.5rem;
$heading-md-size: 2rem;
$heading-sm-size: 1.5rem;


//
$vertical-spacing: 30px;


// widths
$collapsible-sidebar-width: 250px;
$collapsible-sidebar-spacing: 15px;
$collapsible-sidebar-transition-duration: 0.5s;
