
.page-header {

    &::before {
        content: "";
        background-color: $color-blue-dark;
        background-image: url("assets/bg-1440.jpg");
        background-position: 50% 0;
        background-repeat: no-repeat;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        z-index: -1;

        @include media-breakpoint-down(lg) {
            background-image: url("assets/bg-1200.jpg");
        }

        @include media-breakpoint-down(md) {
            background-image: url("assets/bg-992.jpg");
        }

        @include media-breakpoint-down(sm) {
            background-image: url("assets/bg-768.jpg");
        }

        @include media-breakpoint-down(xs) {
            background-image: url("assets/bg-576.jpg");
        }

    }

	.nav-section {
		padding-top: 25px;
		padding-bottom: 25px;
        overflow: hidden;

		.navbar {
            padding: 0;

            .collapse {
                display: block;
                visibility: hidden;
                opacity: 0;
                max-height: 0;
                transition: all 0.5s;

                &.show {
                    visibility: visible;
                    opacity: 1;
                    max-height: 300px;
                }

                @include media-breakpoint-up(lg) {
                    visibility: visible;
                    opacity: 1;
                    max-height: inherit;
                }
            }


            &-brand {
                margin: 0;
            }

			// SHOW / HIDE MENU BUTTON
			&-toggler {
				font-size: 1rem;
				color: $color-white;
				position: relative;
				padding-left: 20px;
			}

			// MENU - NAVIGATION
			&-nav {
                flex-wrap: wrap;
                margin-left: auto;


                .nav-link {
                    color: $color-white;
                    padding: 5px 15px;
                    margin-right: 2px;

                    &:hover {
                        background-color: $color-blue-dark;
                    }

                    &.active {
                        background-color: $color-blue-light;
                    }
                }

				// < LG
				@include media-breakpoint-down(lg) {
                    .nav-link {
                        padding: 5px 10px;
                    }
				}

				// < MD
				@include media-breakpoint-down(md) {
					display: flex;
					flex-direction: row;
					padding: 10px 0;
					justify-content: center;
					flex-wrap: wrap;
					background-color: $color-blue-dark;
					margin-top: 25px;

					.nav-item {
						width: 40%;

						&:nth-child(2n+1) {
							width: 35%;
							margin-right: 5%;
						}

						.nav-link {
							padding: 10px;
						}
					}
				}

				// < SM
				@include media-breakpoint-down(xs) {
					display: flex;
					flex-direction: column;
					padding: 10px 0;
					justify-content: center;
					align-items: center;

					.nav-item {
						width: 60%;

						&:nth-child(2n+1) {
							width: 60%;
							margin-right: 0;
						}

						.nav-link {
							padding: 5px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}
