

/********************
    PAGE - GENERAL
********************/


body {
    min-width:320px;
    font-family: "Roboto", Arial, sans-serif;
    background-color: $color-white;
    color: $color-text;
    word-wrap: break-word;
    overflow-wrap: break-word;

    @include media-breakpoint-up(lg) {
        overflow-y: scroll;
    }
}

.page {
    background-color: $color-grey-light-1;
}
