<article class="item-view">


    <!-- DETAILS HEADER -->
    <header class="item-view__header vertical-spacing">
        <div class="container">
            <h1 class="heading heading--separator">
                {{ institution?.attributes.title }}
            </h1>

            <div class="row">

                <!-- LOCATION -->
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <svg aria-hidden="true" class="icon icon-location-pin">
                        <use xlink:href="/assets/icomoon/sprite/sprite.svg#icon-location-pin"></use>
                    </svg>
                    
                    <!-- address: street, number -->
                    <p class="item-view__attribute item-view__attribute--tight item-view__attribute--icon-related"
                       *ngIf="institution?.attributes.street_type || institution?.attributes.street || institution?.attributes.street_number || institution?.attributes.flat_number">
                        <ng-container *ngIf="institution?.attributes.street_type">
                            {{ institution?.attributes.street_type }}
                        </ng-container>
                        <ng-container *ngIf="institution?.attributes.street">
                            {{ institution?.attributes.street }}
                        </ng-container>
                        <ng-container *ngIf="institution?.attributes.street_number">
                            {{ institution?.attributes.street_number }}
                        </ng-container>
                        <ng-container *ngIf="institution?.attributes.flat_number">
                            lok. {{ institution?.attributes.flat_number }}
                        </ng-container>
                    </p>

                    <!-- address: city -->
                    <p class="item-view__attribute item-view__attribute--tight item-view__attribute--icon-related"
                       *ngIf="institution?.attributes.postal_code || institution?.attributes.city">
                        <ng-container *ngIf="institution?.attributes.postal_code">
                            {{ institution?.attributes.postal_code }}
                        </ng-container>
                        <ng-container *ngIf="institution?.attributes.city">
                            {{ institution?.attributes.city }}
                        </ng-container>
                    </p>

                    <!-- regon -->
                    <p class="item-view__attribute item-view__attribute--tight item-view__attribute--icon-related"
                       *ngIf="institution?.attributes.regon">
                        REGON: {{ institution?.attributes.regon }}
                    </p>
                </div>


                <!-- TEL & FAX -->
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <svg aria-hidden="true" class="icon icon-mobile">
                        <use xlink:href="/assets/icomoon/sprite/sprite.svg#icon-mobile"></use>
                    </svg>
                    <p class="item-view__attribute item-view__attribute--tight item-view__attribute--icon-related" 
                        *ngIf="institution?.attributes.tel">
                        Tel.: {{ institution?.attributes.tel }}
                    </p>
                    <p class="item-view__attribute item-view__attribute--tight item-view__attribute--icon-related" 
                        *ngIf="institution?.attributes.fax">
                        Fax: {{ institution?.attributes.fax }}
                    </p>
                </div>


                <!-- WEBSITE, MAIL, EPUAP -->
                <div class="col-md-6 col-lg-4">
                    <svg aria-hidden="true" class="icon icon-paper-plane">
                        <use xlink:href="/assets/icomoon/sprite/sprite.svg#icon-paper-plane"></use>
                    </svg>
                    <p class="item-view__attribute item-view__attribute--tight item-view__attribute--icon-related" 
                        *ngIf="institution?.attributes.website">
                        <a href="{{ institution?.attributes.website }}" target="_blank">
                            {{ institution?.attributes.website }}
                        </a>
                    </p>
                    <p class="item-view__attribute item-view__attribute--tight item-view__attribute--icon-related" 
                        *ngIf="institution?.attributes.email">
                        <a href="mailto:{{ institution?.attributes.email }}">
                            {{ institution?.attributes.email }}
                        </a>
                    </p>
                    <p class="item-view__attribute item-view__attribute--tight item-view__attribute--icon-related" 
                        *ngIf="institution?.attributes.epuap">
                        <a href="{{ institution?.attributes.epuap }}" target="_blank">
                            {{ 'Institutions.EpuapMailBox' | translate }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </header>



    <!-- RELATED DATASETS: SEARCH and FILTERS -->
    <div class="search search--with-filters" id="search">
        <div class="container">
            <form (ngSubmit)="performSearch({q: f.value.searchInput, sort: 'relevance'})" #f="ngForm">
                <div class="row">
                    <div class="col">

                        <!-- search field -->
                        <input type="text" class="form-control form-control-lg search__input"
                            placeholder="{{ 'Datasets.SearchFor' | translate }}..."
                            [attr.aria-label]="'Institutions.SearchFor' | translate"
                            [ngModel]="params.q" 
                            name="searchInput">

                        <!-- clear search field -->
                        <button type="button" class="btn search__clear" 
                            (click)="updateParams({q: '', sort: ''}, null)"
                            *ngIf="params?.q.length > 0">
                            <span class="sr-only">
                                {{ 'Search.ClearInput' | translate }}
                            </span>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- perform search -->
                    <div class="col-sm-auto">
                        <button type="submit" class="btn btn-primary btn-lg search__button">
                            {{ 'Action.Search' | translate }}
                        </button>
                    </div>
                </div>
            </form>

            <!-- filters handler -->
            <button type="button" class="filters-toggle"
                aria-controls="filters"
                [attr.aria-pressed]="!filtersCollapsed"
                (click)="filtersCollapsed = !filtersCollapsed">
                
                <strong>
                    {{ ( filtersCollapsed ? 'Filters.Show' : 'Filters.Hide') | translate }}
                </strong>
                <ng-container *ngIf="selectedFiltersCount > 0">
                    ({{ 'Filters.VarSelected' | translate:{param: selectedFiltersCount} | lowercase }})
                </ng-container>
            </button>


            <!-- FILTERS -->
            <div class="filters" id="filters"
                [attr.aria-expanded]="!filtersCollapsed"
                [attr.aria-hidden]="filtersCollapsed"
                *ngIf="!filtersCollapsed"
                @toggleVertically>


                <!-- DROPDOWNS -->
                <div class="row">

                    <!-- Categories -->
                    <div class="col-12 col-md-6 col-lg-3 mb-2 mb-lg-0" *ngIf="filters?.by_category">
                        <span class="filter-label" id="category-filter-label">
                            {{ 'Attribute.CategoryLong' | translate }}
                        </span>
                        <app-multiselect
                            [options]="filters?.by_category"
                            [multiselect]="true" 
                            displayValue="title"
                            [(selected)]="selectedFilters.category"
                            (selectedChange)="toggleFilter('category', $event)"
                            placeholder="{{ 'Attribute.Category' | translate }}"
                            labelId="category-filter-label">
                        </app-multiselect>
                    </div>

                    <!-- Format -->
                    <div class="col-12 col-md-6 col-lg-3 mb-2 mb-lg-0" *ngIf="filters?.by_format">
                        <span class="filter-label" id="format-filter-label">
                            {{ 'Attribute.FormatLong' | translate }}
                        </span>
                        <app-multiselect
                            [options]="filters?.by_format"
                            [multiselect]="true" 
                            displayValue="title"
                            [(selected)]="selectedFilters.formats"
                            (selectedChange)="toggleFilter('formats', $event)"
                            placeholder="Format"
                            labelId="format-filter-label">
                        </app-multiselect>
                    </div>

                    <!-- Openness score -->
                    <div class="col-12 col-md-6 col-lg-3 mb-2 mb-lg-0" *ngIf="filters?.by_openness_scores">
                        <span class="filter-label" id="openness-filter-label">
                            {{ 'Attribute.OpennessScore' | translate }}
                        </span>
                        <app-multiselect
                            [options]="filters?.by_openness_scores"
                            [multiselect]="true"
                            displayValue="title"
                            [showSearchInput]="false"
                            [(selected)]="selectedFilters.openness_scores"
                            (selectedChange)="toggleFilter('openness_scores', $event)"
                            placeholder="{{ 'Attribute.OpennessScore' | translate }}"
                            labelId="openness-filter-label">
                        </app-multiselect>
                    </div>
                </div>


                <!-- SELECTED FILTERS -->
                <div class="filters__selected">

                    <!-- Remove all selected filters -->
                    <button type="button" class="btn btn-sm btn-danger"
                        (click)="clearSelectedFilters()"
                        (keyup.enter)="clearSelectedFilters()"
                        *ngIf="selectedFiltersCount > 0"
                        @toggle>

                        {{ 'Filters.RemoveSelected' | translate }}
                        ({{ selectedFiltersCount }})
                    </button>

                    <!-- Categories -->
                    <div class="filters__selected-group">
                        <button type="button" class="btn btn-sm btn--remove"
                            *ngFor="let item of selectedFilters.category; let i = index;"
                            (click)="removeSelectedFilter('category', i)"
                            (keyup.enter)="removeSelectedFilter('category', i)"
                            @toggle>

                            <span class="sr-only">
                                {{ 'Filters.Remove' | translate }}
                            </span>
                            {{ item.title }}
                        </button>
                    </div>

                    <!-- Formats -->
                    <div class="filters__selected-group">
                        <button type="button" class="btn btn-sm btn--remove"
                            *ngFor="let item of selectedFilters.formats; let i = index;"
                            (click)="removeSelectedFilter('formats', i)"
                            (keyup.enter)="removeSelectedFilter('formats', i)"
                            @toggle>

                            <span class="sr-only">
                                {{ 'Filters.Remove' | translate }}
                            </span>
                            {{ item.title }}
                        </button>
                    </div>

                    <!-- Openness score -->
                    <div class="filters__selected-group">
                        <button type="button" class="btn btn-sm btn--remove"
                            *ngFor="let item of selectedFilters.openness_scores; let i = index;"
                            (click)="removeSelectedFilter('openness_scores', i)"
                            (keyup.enter)="removeSelectedFilter('openness_scores', i)"
                            @toggle>

                            <span class="sr-only">
                                {{ 'Filters.Remove' | translate }}:
                                {{ 'Attribute.OpennessScore' | translate }}
                                {{ item.key }}
                            </span>

                            <!-- openness score as star rating -->
                            <app-star-rating [rating]="+item.key"></app-star-rating>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- RELATED DATASETS: SEARCH RESULTS -->
    <section class="results-section vertical-spacing">
        <div class="container">

            <!-- api notifications -->
            <app-notifications></app-notifications>


            <!-- RESULTS HEADER -->
            <header class="results-header">
                <div class="d-md-flex justify-content-between align-items-center">

                    <h2 class="heading heading--md">
                        {{ 'Institutions.RelatedDatasets' | translate }}
                        <small>({{ count || 0 }})</small>
                    </h2>

                    <!-- sort order -->
                    <div class="sort-order d-md-inline-flex align-items-center" *ngIf="items && items.length">
                        <span class="dropdown-label" id="sortby-label">
                            {{ 'Sort.By' | translate }}:
                        </span>
                        <app-singleselect
                            [options]="[
                                {label:'Sort.Default' | translate, value: 'relevance'},
                                {label:'Attribute.NameAsc' | translate, value: 'title'},
                                {label:'Attribute.NameDesc' | translate, value: '-title'},
                                {label:'Attribute.AvailabilityDate' | translate, value: '-created'},
                                {label:'Attribute.UpdateDate' | translate, value: '-verified'},
                                {label:'Attribute.PopularityAsc' | translate, value: 'views_count'},
                                {label:'Attribute.PopularityDesc' | translate, value: '-views_count'}
                            ]"
                            [selected]="params?.sort"
                            (selectedChange)="updateParams({sort: $event.value})"
                            labelId="sortby-label">
                        </app-singleselect>
                    </div>
                </div>
            </header>

            <!-- no results found -->
            <p class="alert alert-warning" *ngIf="params.q && items && !items.length">
                <strong>
                    {{ 'Found.NothingFor' | translate }} "{{ params.q }}"
                </strong>
            </p>


            <!-- RESULT LIST -->
            <div class="result-list">


                <!-- RESULT ITEM -->
                <div class="result-item" *ngFor="let item of items; let itemIndex = index;">

                    <!-- dataset title -->
                    <h3 class="heading heading--sm">
                        <a [routerLink]="['/dataset', item.id]">
                            {{ item.attributes.title }}
                        </a>
                    </h3>

                    <!-- description -->
                    <p class="result-item__description" *ngIf="item.attributes.notes">
                        {{ item.attributes.notes | stripHtml | truncateText:300 }}
                    </p>

                    <!-- observe -->
                    <p class="result-item__actions">
                        <app-observe-button [item]="item" [resource]="'dataset'"></app-observe-button>
                    </p>


                    <!-- RESULT ATTRIBUTES -->
                    <div class="row result-item__attributes">

                        <!-- category -->
                        <div class="col-12 col-md-5" *ngIf="item.attributes.category">
                            {{ 'Attribute.Category' | translate }}:
                            <span class="d-md-block">
                                <a [routerLink]="['.']" 
                                    (click)="updateParams({category: item.attributes.category.id})">
                                    {{ item.attributes.category.title || '-' }}
                                </a>
                            </span>
                        </div>

                        <!-- availability (created) date-->
                        <div class="col-12 col-md-3" 
                            *ngIf="item.attributes?.created && params?.sort.indexOf('created') !== -1">
                            {{ 'Attribute.AvailabilityDate' | translate }}:
                            <span class="d-md-block">
                                {{ item.attributes?.created | translateDateFormat | async }}
                            </span>
                        </div>
    
                        <!-- update (verification) date-->
                        <div class="col-12 col-md-3" 
                            *ngIf="item.attributes?.verified && (params?.sort.indexOf('verified') !== -1 || !isSortedByDate)">
                            {{ 'Attribute.UpdateDate' | translate }}:
                            <span class="d-md-block">
                                {{ item.attributes?.verified | translateDateFormat | async }}
                            </span>
                        </div>

                        <!-- format -->
                        <div class="col-12 col-md-2">
                            {{ 'Attribute.Format' | translate }}:
                            <span class="d-md-block" *ngIf="item.attributes?.formats.length">
                                <ng-container *ngFor="let format of item.attributes?.formats; let last = last;">
                                    <a [routerLink]="['.']" 
                                        (click)="updateParams({formats: format})">
                                        {{ format }}</a>
                                    {{ last ? null : ',' }}
                                </ng-container>
                            </span>

                            <!-- format not specified -->
                            <span class="d-md-block" *ngIf="!item.attributes?.formats.length">-</span>
                        </div>

                        <!-- views cound, downloads count -->
                        <div class="col-12 col-md-2">
                            <span class="seen">
                                <svg class="icon icon-eye">
                                    <use xlink:href="/assets/icomoon/sprite/sprite.svg#icon-eye"></use>
                                </svg>
                                <span class="sr-only">
                                    {{ 'Attribute.Views' | translate }}
                                </span>
                                {{ item.attributes.views_count }}
                            </span>
                            <span class="downloaded">
                                <svg class="icon icon-align-bottom">
                                    <use xlink:href="/assets/icomoon/sprite/sprite.svg#icon-align-bottom"></use>
                                </svg>
                                <span class="sr-only">
                                    {{ 'Attribute.Downloads' | translate }}
                                </span>
                                {{ item.attributes.downloads_count }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <!-- RESULTS FOOTER -->
            <footer class="results-footer" *ngIf="count">
                <div class="row no-gutters justify-content-between">

                    <!-- results per page -->
                    <div class="col-12 col-md-6 order-12 order-md-1">
                        <div class="results-per-page d-inline-flex align-items-baseline">
                            <span class="dropdown-label" id="items-per-page-label">
                                {{ 'Pagination.ItemsPerPage' | translate }}:
                            </span>
                            <app-singleselect
                                [options]="[5,10,20,50]"
                                [selected]="params.per_page"
                                (selectedChange)="updateParams({per_page: $event})"
                                placeholder="10"
                                labelId="items-per-page-label">
                            </app-singleselect>
                        </div>
                    </div>

                    <!-- pagination -->
                    <div class="col-12 col-md-6 order-1 order-md-12 text-md-right">
                        <div class="pager d-inline-flex align-items-baseline">

                            <app-pagination
                                [itemsPerPage]="params.per_page"
                                [totalItems]="count"
                                [(page)]="params.page"
                                (numPages)="numPages = $event"
                                (pageChange)="updateParams({page: $event})">
                            </app-pagination>
                        </div>
                    </div>
                </div>

                <!-- contact info -->
                <p class="other-data">
                    <span class="other-data__label">
                        {{ 'LookingForDifferentData' | translate }}
                    </span>
                    <app-write-us-info></app-write-us-info>
                </p>
            </footer>
        </div>
    </section>
</article>

