

// screan reader skip links menu
.skip-menu {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    background-color: $color-blue-dark;
    z-index: 3;

    &__list {
        list-style: none;
        padding: 0;
        color: $color-white;
    }

    &__link {
        position: absolute;
        left: -9999px;
        margin: 0.5rem;
        padding: 0.5rem;
        display: inline-block;
        color: inherit;

        &:hover {
            color: inherit;
        }

        &:focus {
            position: relative;
            left: 0;
        }
    }
}
