/* COMMON: Top menu
*********************/

.nav-section {
    .navbar-nav {
        background-color: inherit;

        .nav-item {
            .nav-link {
                color: currentColor;

                &:hover,
                &.active {
                    color: $hcSecondary;
                    background-color: $hcPrimary;
                }
            }
        }
    }

    .navbar-toggler {
        border-color: $hcPrimary;
        color: currentColor;
    }
}
